Templates(
    entities : [
        Template(
            entity_type: Equipment,
            name : "Thorn Dart", glyph: '{', color : "#D7E7D0", levels: [ 0, 1, 2 ],
            frequency: 3,
            base_ranged_damage: Some(1),
        ),
        Template(
            entity_type: Equipment,
            name : "Poisonous Thorn Dart", glyph: '{', color : "#D4A798", levels: [1, 2 ],
            frequency: 1,
            base_ranged_damage: Some(3),
        ),
        Template(
            entity_type: Equipment,
            name : "Pointy Stick", glyph: '/', color : "#D7E7D0", levels: [ 0, 1, 2 ],
            frequency: 2,
            base_damage: Some(2)
        ),
        Template(
            entity_type: Equipment,
            name : "Heavy Staff", glyph: '|', color : "#D7E7D0", levels: [ 1, 2 ],
            frequency: 1,
            base_damage: Some(3)
        ),
        Template(
            entity_type: Equipment,
            name : "Bark Shield" , glyph: ')', color : "#215E21", levels: [ 1, 2 ],
            frequency: 2,
            base_defense: Some(1),

        ),
        Template(
            entity_type: Plant,
            fruit_type: Some(Healing),
            name : "Healing Tree", glyph : '♠', color : "#D3494E", levels : [ 0, 1, 2 ],
            frequency: 3,
        ),
        Template(
            entity_type: Plant,
            fruit_type: Some(Knowing),
            name : "Knowing Tree", glyph : '♠', color : "#7AC5CD", levels : [ 0, 1, 2 ],
            frequency: 1,
        ),
        Template(
            entity_type: Plant,
            fruit_type: Some(Smelling),
            name : "Smelling tree", glyph : '♠', color : "#71AA34", levels : [ 1, 2 ],
            frequency: 2,
        ),
        Template(
            entity_type: Creature,
            name : "Worm mass", glyph : 'w', color : "#CD7F32", levels : [ 1, 2 ],
            hp : Some(3),
            frequency: 8,
            ai_type: Some(MovingRandomly),
            base_damage: Some(2),
            base_defense: Some(1)

        ),
        Template(
            entity_type: Creature,
            name : "Ant", glyph : 'a', color : "#E3CF57", levels : [ 1, 2 ],
            hp : Some(2),
            frequency: 6,
            ai_type: Some(RangedAttacking),
            base_damage: Some(1),
            base_ranged_damage: Some(2),
        ),
        Template(
            entity_type: Creature,
            name : "Rat", glyph : 'r', color : "#D3494E", levels : [ 0 ],
            hp : Some(2),
            frequency: 10,
            ai_type: Some(RatAi),
            base_damage: Some(2),
            base_defense: Some(0),

        ),
    ],
    fruits : {
        Healing: (
            entity_type: Fruit,
            name : "Healing Fruit", glyph : '*', color : "#D3494E", levels : [],
            provides: Some([ ("Healing", 6) ]),
            frequency: 1,
        ),
        Knowing: (
            entity_type: Fruit,
            name : "Knowing Fruit", glyph : '*', color : "#7AC5CD", levels : [],
            provides: Some([ ("MagicMap", 0) ]),
            frequency: 1
        ),
        Smelling: (
            entity_type: Fruit,
            name : "Smelly Fruit", glyph : '*', color : "#71AA34", levels : [],
            provides: Some([ ("MagicMap", 0), ("Healing", 3) ]),
            frequency: 1
        ), 
    },
)